<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_music.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,240},{124,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,66}}</string>
			<key>sourceSize</key>
			<string>{124,66}</string>
		</dict>
		<key>btn_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,72},{76,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,36}}</string>
			<key>sourceSize</key>
			<string>{76,36}</string>
		</dict>
		<key>btn_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,2},{68,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,42}}</string>
			<key>sourceSize</key>
			<string>{68,42}</string>
		</dict>
		<key>btn_sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,366},{126,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,64}}</string>
			<key>sourceSize</key>
			<string>{126,64}</string>
		</dict>
		<key>button_other_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,240},{246,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,68}}</string>
			<key>sourceSize</key>
			<string>{246,68}</string>
		</dict>
		<key>button_other_026_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,222},{276,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,74}}</string>
			<key>sourceSize</key>
			<string>{276,74}</string>
		</dict>
		<key>button_other_026.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,222},{276,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,74}}</string>
			<key>sourceSize</key>
			<string>{276,74}</string>
		</dict>
		<key>button_other_034.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{284,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,64}}</string>
			<key>sourceSize</key>
			<string>{284,64}</string>
		</dict>
		<key>button_other_038_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{138,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,78}}</string>
			<key>sourceSize</key>
			<string>{138,78}</string>
		</dict>
		<key>button_other_038.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,82},{138,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,76}}</string>
			<key>sourceSize</key>
			<string>{138,76}</string>
		</dict>
		<key>button_other_039.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,222},{128,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,68}}</string>
			<key>sourceSize</key>
			<string>{128,68}</string>
		</dict>
		<key>ui_2p_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,86}}</string>
			<key>sourceSize</key>
			<string>{320,86}</string>
		</dict>
		<key>ui_2p_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,240},{244,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,70}}</string>
			<key>sourceSize</key>
			<string>{244,70}</string>
		</dict>
		<key>ui_button_16_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,292},{202,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,78}}</string>
			<key>sourceSize</key>
			<string>{202,78}</string>
		</dict>
		<key>ui_button_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,160},{202,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,78}}</string>
			<key>sourceSize</key>
			<string>{202,78}</string>
		</dict>
		<key>ui_button_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{289,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,64}}</string>
			<key>sourceSize</key>
			<string>{289,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UI_GameMenuText_cn-ipadhd.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0076e2ab10f6027d4c47a2dac86dc5f1$</string>
		<key>textureFileName</key>
		<string>UI_GameMenuText_cn-ipadhd.png</string>
	</dict>
</dict>
</plist>
