<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GShark_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,394},{798,330}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,390}}</string>
                <key>offset</key>
                <string>{-57,41}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{534,390}}</string>
                <key>offset</key>
                <string>{-76,39}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2220,2},{756,286}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,786},{588,348}}</string>
                <key>offset</key>
                <string>{-56,40}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{490,352}}</string>
                <key>offset</key>
                <string>{-77,38}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1054},{784,326}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{796,326}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,726},{798,326}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1464},{786,326}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,660},{764,326}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{786,328}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1136},{798,326}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,332},{796,326}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{784,328}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>GShark_actor_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{760,350}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2650,640},{742,284}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1668},{754,284}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1382},{754,284}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1668},{744,284}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3094,926},{720,284}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1382},{744,284}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2978,2},{756,284}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2978,288},{754,284}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2350,988},{742,284}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>Shark_actor_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2136,330},{718,308}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>FishActor-Shark-hd.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c48cfd32dd8e720d8ab7260072632fb$</string>
            <key>textureFileName</key>
            <string>FishActor-Shark-hd.png</string>
        </dict>
    </dict>
</plist>
