<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMarlinsFish_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2324},{560,396}}</string>
                <key>offset</key>
                <string>{-55,65}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,446}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2394},{606,440}}</string>
                <key>offset</key>
                <string>{-88,-29}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1908},{514,414}}</string>
                <key>offset</key>
                <string>{-111,-33}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GrouperFish_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,826},{134,144}}</string>
                <key>offset</key>
                <string>{-30,16}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1368},{152,160}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,690},{190,134}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1368},{164,100}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,826},{148,104}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>MarlinsFish_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1530},{532,376}}</string>
                <key>offset</key>
                <string>{-57,63}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{784,422}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2722},{580,416}}</string>
                <key>offset</key>
                <string>{-90,-30}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,976},{488,390}}</string>
                <key>offset</key>
                <string>{-113,-34}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,646},{778,218}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{778,218}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,866},{776,218}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{770,218}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1086},{772,218}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,426},{778,218}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{776,218}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1306},{768,220}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{764,218}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GMarlinsFish_actor_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{774,218}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>GrouperFish_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,340},{210,174}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,516},{202,172}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,810},{186,164}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,642},{202,166}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{216,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,172},{216,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,334},{212,158}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,494},{204,146}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,174},{212,158}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>GrouperFish_actor_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{218,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{230,188}</string>
            </dict>
            <key>MarlinsFish_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{742,170}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1700},{742,170}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1872},{740,170}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2066},{734,170}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2044},{736,170}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{742,170}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1528},{742,170}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2216},{730,176}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2238},{726,174}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
            <key>MarlinsFish_actor_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{738,170}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>sourceSize</key>
                <string>{900,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>FishActor-Marlin-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbd7585396ad41d4e5349e2d919c06fe$</string>
            <key>textureFileName</key>
            <string>FishActor-Marlin-ipadhd.png</string>
        </dict>
    </dict>
</plist>
